@{
    ViewData["Title"] = "Calculadora";
}

<div class="text-center">
    <h1 class="display-4">Calculadora</h1>
    <form action="/calculadora/calcular" method="post">
        <div class="row justify-content-md-center m-5">
            <div class="form-group m-2">
                <input type="number" placeholder="Ingrese un número" name="numero_1" />
            </div>

            <div class="form-group m-2">
                <select class="form-select" name="operacion">
                    <option selected>Operación</option>
                    <option value="+">Suma</option>
                    <option value="-">Resta</option>
                    <option value="*">Multiplicación</option>
                    <option value="/">División</option>
                </select>
            </div>

            <div class="form-group m-2">
                <input type="number" placeholder="Ingrese otro número" name="numero_2" />
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Calcular</button>
        </div>
    </form>
</div>
